body {
  background-color: #ffffff;
}

hr {
  border: 1px solid #2f5496;
}

ul#work-exp {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

h1 {
  color: green;
}

h2 {
  color: #2f5496;
  position: relative;
  left: 4px;
  top: 16px;
}
