body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  width: 100%;
  display: flex;
}

#div-profile-picture {
  display: inline-block;
  margin: auto 2px auto 26px;
  padding: 0px;
}

#profile-picture {
  box-shadow: 2px 2px 2px;
}

#info {
  display: inline-block;
  text-align: left;
  margin: auto 6px auto 6px;
  padding: 0 6px 0 6px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  padding: 4px 0px 4px 0px
}

th.tech-skills {
  padding: 4px 6px 4px 0px;
  text-align: right;
}

td.tech-skills-left {
  padding: 4px 6px 4px 0px;
  width: 45%;
  text-align: right;
}

td.tech-skills-right {
  padding: 4px 0px 4px 6px;
  width: 55%;
  text-align: left;
}

td.skills-left {
  padding: 4px 6px 4px 0px;
  width: 60%;
  text-align: right;
}

td.skills-center {
  padding: 4px 0px 4px 0px;
  width: 20%;
  text-align: center;
}

td.skills-right {
  padding: 4px 0px 4px 0px;
  width: 20%;
  text-align: center;
}

hr {
  border: 1px solid #2f5496;
}

ul#work-exp {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

h1 {
  color: #203c6e;
  text-align: center;
}

h2 {
  color: #2f5496;
  position: relative;
  left: 4px;
  top: 16px;
}

.section {
  margin-top: -16px;
  padding: 0 16px 0 16px;
}

.section-content {
  margin: -2px 0 0 0;
  padding: 0 12px 0 12px;
}
